name: Docker-Build

on:
  push:
    branches: [ "main" ]

# permissions are needed if pushing to ghcr.io
permissions: 
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
     # https://github.com/docker/setup-qemu-action
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    # https://github.com/docker/setup-buildx-action
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to GHCR
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Docker meta
      id: meta_build
      uses: docker/metadata-action@v3
      with:
        # list of Docker images to use as base name for tags
        images: |
          ghcr.io/deb4sh/stunnel
        labels: |
          org.opencontainers.image.title="Stunnel"
          org.opencontainers.image.description="Stunnel on Alpine"
          org.opencontainers.image.vendor="https://github.com/deb4sh, https://hachyderm.io/@deb4sh"
          org.label-schema.url="https://github.com/deB4SH/dockerfiles-stunnel"
          org.label-schema.usage="https://github.com/deB$SH/dockerfiles-stunnel/blob/master/README.md"
          org.label-schema.schema-version="1.0"
        # Docker tags based on the following events/attributes
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
          type=sha
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64/v8
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta_build.outputs.tags }}
        labels: ${{ steps.meta_build.outputs.labels }}
